.project-pr-title {
    font-weight: bold;
    font-size: 1.75em;
    color: var(--pj-txt);
}

.project-sc-title {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--pj-txt);
}

.project-pr-link {
    font-size: 1em;
    color: var(--pj-txt-sc);
}

.project-pr-text {
    font-size: 0.9em;
    color: var(--pj-txt);
}

.project-sc-text {
    font-size: 0.9em;
    color: var(--pj-txt-sc);
}

.project {
    background: var(--pj-bg);
    color: var(--pj-txt);

    display: flex;
    flex-direction: column;

    align-items: center;



    &-header {
        margin-top: 55px;
        margin-bottom: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;


        width: var(--pj-width);

        &-left {
            display: flex;
            flex-direction: column;

            &-title {
            }

            &-sub-title {
                font-size: 1em;
                font-weight: 400;
                // color: var(--pj-txt);
                color: var(--pj-txt-sc);
            }
        }

        &-right {
            align-self: start;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;

        align-items: center;

        &-preview {
            height: 240px;
            width: min(91%, 1000px);

            // background-color: #f9f9f9;

            border: 1px solid #ddd;

            margin-bottom: 55px;
        }

        &-section {
            width: var(--pj-width);
            margin-bottom: 45px;

            &-title {
                margin-bottom: 14px;
            }

            &-text {

            }

            &-images {
                display: flex;
                gap: 1rem;
                margin-top: 30px;

                justify-content: space-between;

                img {
                    width: 49%;

                    background-color: #f9f9f9;
                    aspect-ratio: 5/4;
                    object-fit: cover;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                }
            }
        }
    }

    &-demo {
        width: var(--pj-width);
        margin-bottom: 55px;

        &-title {
            margin-bottom: 16px;
        }

        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-interactive {
                display: flex;
                flex-direction: column;

                h3 {
                    margin-bottom: 4px;
                }

                gap: 2px;


                a {
                    color: #7b74fd;
                    text-decoration: underline;
                }


                div {
                    display: flex;
                    white-space: pre;
                }

            }

            &-video {
                a {
                    padding: 15px 30px;
                    border-radius: 200px;
                    background-color: #7b74fd;

                    display: flex;
                    white-space: pre;
                    align-items: center;

                    gap: 10px;

                    svg {
                        transform: rotate(45deg);

                        transition: transform 225ms ease-out;
                    }

                    &:hover svg {
                        transform: rotate(0);
                    }
                }
            }
        }
    }


    ul {
        list-style-type: disc;
        margin-top: 8px;
        padding-left: 1.25em;

        li {

        }
    }



    .bold {
        font-weight: 500;
    }

    .italic {
        font-style: italic;
    }

    .underline {
        text-decoration: underline;
    }
}


.copy-text-component {
    display: flex;
    align-items: center;
    gap: 10px;

    &, svg {
        cursor: pointer;
    }


    .icon {
        display: flex;
        align-items: center;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
    }

    &:hover > .icon {
        opacity: 1;
    }
}







