.controls {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 8px;

    cursor: pointer;

    &-btn {
        height: 20px;
        width: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 14px;
        border-radius: 50%;
        transition: background-color 0.2s ease;

        &:nth-child(1).active {
            background-image: url("../../../assets/icons/minimise.svg");
        }

        &:nth-child(2).active {
            background-image: url("../../../assets/icons/full_screen.svg");
        }

        &:nth-child(3).active {
            background-image: url("../../../assets/icons/close.svg");
        }

        &:not(.active) {
            opacity: 0.3;
        }

        &.active:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
