.window_menu_icon {
    color: white;

    padding: 0 10px 0 10px;

    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    border-radius: 3px;

    //text-shadow: #000 1px 3px 15px;

    cursor: pointer;

    svg {
        background: transparent;

        path {
            fill: white;
        }
    }

    .window-menu-icon-date {
        color: white;
        font-size: 0.82em;

        white-space: nowrap;
        text-overflow: "";
        overflow: hidden;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}
