.controls {
    position: absolute;
    display: flex;
    gap: 8px;

    cursor: pointer;

    &:hover > &-btn {
        background-position: center center;
        background-repeat: no-repeat;

        &:nth-child(1).active {
            background-image: url("./icons/close.svg");
        }
        &:nth-child(2).active {
            background-image: url("./icons/minimise.svg");
        }
        &:nth-child(3).active {
            background-image: url("./icons/full_screen.svg");

        }
    }


    &-btn {
        height: 12px;
        aspect-ratio: 1;
        border-radius: 50%;

        background-color: #585A5C;
        border: 1px solid #585A5C;

        &.active {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }


        &:nth-child(1).active {
            background-color: #FF5F57;
        }

        &:nth-child(2).active {
            background-color: #FEBC2E;
        }

        &:nth-child(3).active {
            background-color: #28C840;
        }
    }


}
