#app {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    height: 100vh;
    width: 100vw;

    background: #ffffff url("../assets/background.jpg") center center/cover
        no-repeat local;

    .apps-container {
        position: relative;
        width: 100%;
        height: calc(100vh - 24px - 68px);
        z-index: 100;
        pointer-events: none;

        .app-id-Cacacacazerr {
            transform: translate(40px, 50px);
        }
        .app {
            pointer-events: auto;
        }
    }

    .dock {
        align-self: center;
    }

    .jellyfish-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        z-index: 50;
        * {
            pointer-events: auto;
        }
    }
}
