@import url('/src/assets/SF-Pro-Text/stylesheet.css');
@import url('/src/assets/SF-Mono/stylesheet.css');

:root {
    --text-primary: #000;


    --bg-primary: rgba(255, 255, 255, 0.3);
    --bg-secondary: rgba(0, 0, 0, 0.7);
    --bg-accent: #fff;

    --border-dock: rgba(255, 255, 255, 0.2);
    //--border-dock: rgba(26, 26, 26, 0.2);

}

* {
    font-family: 'SFProText', sans-serif;
    font-weight: 400;
    font-style: normal;
    // color: var(--text-primary);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
