.window-server {
    height: 24px;
    width: 100dvw;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(100px);
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    position: relative;

    &-left {
        display: flex;
        position: relative;
        left: 5px;
        flex: 1;
    }

    &-center {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
    }

    &-right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}
