.appIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
        .tool-tip-name {
            display: flex;
        }
    }

    .tool-tip-name {
        position: absolute;
        display: none;
        z-index: 99999999;
        transform: translateY(-40px);

        .text {
            font-size: 12px;
            font-weight: 400;
            color: #ffffff;
            padding: 5px 11px;
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            white-space: nowrap;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        }

        .blurred-shape {
            display: none;
        }
    }

    img {
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .open {
        &.active {
            border-radius: 4px;
            background-color: var(--bg-secondary);
            mix-blend-mode: hard-light;
        }

        position: relative;
        top: 3px;

        //justify-self: center;

        width: 4px;
        height: 4px;
        border-radius: 2px;
    }
}
