.window-server {
    height: 24px;
    width: 100dvw;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(100px);
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    &-left {
        display: flex;
        position: relative;
        left: 5px;
    }

    &-right {
        display: flex;
    }
}
