.app-application {
    position: absolute;

    top: 16px;
    left: 16px;

    &:not(.active) {
        display: none;
    }

    border-radius: 10px;
    //padding: 0 10px 10px 10px;

    display: flex;
    flex-direction: column;

    border: 1px solid #5e5e6b;

    //background: rgba(10, 10, 29, 0.85);
    //backdrop-filter: blur(30px);

    width: fit-content;
    overflow: hidden;

    &-header {
        //border-radius: 10px 10px 0 0;
        padding: 7px 7px;
        display: flex;
        align-items: center;
        position: relative;

        background: #3f3f40;

        &-name {
            font-size: 0.88em;
            font-weight: 500;

            margin-left: 10px;
            color: white;
            text-align: left;
        }
    }

    // &-body {}
}
