:root {
    --pj-bg: #191919;
    --pj-txt: #fff;
    --pj-txt-sc: #d2d2d2;
    --pj-width: min(75%, 780px);
}

.app {
    &-body {
        overflow-y: auto;

        max-height: 430px;
        width: fit-content;


        &::-webkit-scrollbar {
            height: 10px;
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0 5px 5px 0;
            background-color: var(--pj-bg);
        }

        &::-webkit-scrollbar-track:hover {
            background-color: var(--pj-bg);
        }

        &::-webkit-scrollbar-track:active {
            background-color: var(--pj-bg);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #717171;
            border: 2px solid var(--pj-bg);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #5C5C5C;
        }

        &::-webkit-scrollbar-thumb:active {
            background-color: #4B4B4B;
        }
    }
}
