.app-project {
    position: absolute;

    top: 16px;
    left: 16px;

    &:not(.active) {
        display: none;
    }

    border-radius: 10px;
    padding: 0 10px 10px 10px;

    display: flex;
    flex-direction: column;

    border: 1px solid #929292;

    background: rgba(10, 10, 29, 0.85);
    backdrop-filter: blur(30px);

    width: fit-content;


    &-header {
        padding: 10px 0;
        display: flex;
        align-items: center;


        &-name {
            font-size: 0.88em;
            font-weight: 500;

            margin: auto;
            color: white;
            text-align: center;
        }
    }

    &-body {
        width: 777px;
        border-radius: 5px;
    }
}
