:root {
    --pj-bg: #191919;
    --pj-txt: #fff;
    --pj-txt-sc: #d2d2d2;
    --pj-width: min(75%, 780px);
}

.app {
    position: absolute; // attendu par le code TSX
    box-sizing: border-box;

    &-body {
        overflow-y: auto;

        // max-height: 430px;
        // width: fit-content;
        height: 100%;
        box-sizing: border-box;

        * {
            box-sizing: border-box;
        }

        &::-webkit-scrollbar {
            height: 10px;
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0 5px 5px 0;
            background-color: var(--pj-bg);
        }

        &::-webkit-scrollbar-track:hover {
            background-color: var(--pj-bg);
        }

        &::-webkit-scrollbar-track:active {
            background-color: var(--pj-bg);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #717171;
            border: 2px solid var(--pj-bg);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #5c5c5c;
        }

        &::-webkit-scrollbar-thumb:active {
            background-color: #4b4b4b;
        }
    }
}

.app-resize-handle {
    position: absolute;
    z-index: 10;
    background: transparent;
}

/* gauche: fine bande centrée verticalement */
.app-resize-handle-left {
    left: -6px;
    top: 10%;
    bottom: 10%;
    width: 12px;
}

/* droite: fine bande centrée verticalement */
.app-resize-handle-right {
    right: -6px;
    top: 10%;
    bottom: 10%;
    width: 12px;
}

/* coin bas-droite : carré */
.app-resize-handle-corner {
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    // background: linear-gradient(135deg, transparent 50%, rgba(0,0,0,0.15) 50%);
}

.app-resize-handle-bottom {
    left: 10%;
    right: 10%;
    bottom: -6px;
    height: 12px;
    position: absolute;
}
