.draggable-jellyfish {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    opacity: 0.15;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    will-change: transform;

    &:active {
        cursor: grabbing;
        opacity: 0.25;
    }

    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.22;
    }
}
