:root {
    --main: #9059ff;
    --grey: #939393;
    --grey-darker: #2c2c2c;
    --main-bright: #bd9dff;
    --main-bright2: #d1baff;
    --blue-bright: #bae9ff;
}

.app-id-nird-body h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: var(--main-bright);
}

.app-id-nird-body h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--main-bright2);
}

.app-id-nird-body h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: var(--main-bright2);
}

section {
    margin-bottom: 24px;
}

.intro-logo {
    width: 80px;
    height: auto;
    flex-shrink: 0;
    object-fit: contain;
    margin-right: 20px;
}

.nird-header {
    display: flex;
    margin-bottom: 30px;
}

div.main {
    background: var(--pj-bg);
    color: var(--pj-txt);
    width: 100%;
    padding: 45px 50px 50px 50px;
    box-sizing: border-box;
}

.app-id-nird-body {
    background: var(--pj-bg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app-id-nird-body ul li {
    list-style: square;
    margin-left: 50px;
}

.app-id-nird-body input[type="radio"],
.answer-option {
    cursor: pointer;
    border-radius: 10px;
    padding: 4px;
    accent-color: var(--main);
    border: 2px solid transparent;
}

.app-id-nird-body button {
    background-color: var(--main);
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
}

.answer-option {
    margin: 10px;
    label {
        margin-left: 10px;
    }
}

.app-id-nird-body .ideas-grid {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.app-id-nird-body .idea-card {
    border: 2px solid var(--grey);
    border-radius: 8px;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-id-nird-body .idea-card {
    border: 2px solid var(--grey);
    border-radius: 8px;
    margin: 30px;
    padding: 20px;

    h4 {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
        color: var(--main-bright2);
    }

    transition-duration: 300ms;

    div {
        margin-top: 15px;
        color: var(--grey);
    }
    .selecteddd {
        color: var(--main-bright);
    }
}

.app-id-nird-body .idea-card-selected {
    border: 2px solid var(--main-bright);
    background-color: var(--grey-darker);
}

.app-id-nird-body .res-cards {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.app-id-nird-body .res-card {
    border: 2px solid var(--grey);
    border-radius: 8px;
    margin: 30px;
    padding: 20px;
    width: 320px;
}

.app-id-nird-body .speedometer {
    margin-left: 30px;
    width: 150px;
}
.app-id-nird-body .speedometer .label {
    font-size: 30px;
    color: var(--blue-bright);
    font-weight: bold;
}

.app-id-nird-body .nird-speedometers {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--grey-darker);
    display: flex;
    gap: 140px;
    width: 700px;
    padding: 40px;
    border-radius: 15px;
}

a,
button {
    cursor: pointer;
}
